.App {
  /*text-align: center;*/
}

/* GENERAL TAGS START */
body {
  margin: 0;
  background-color: #3498db;
}
h1 {
  font-family: 'Fira Sans', sans-serif;
}
/* GENERAL TAGS END */

/* Dashboard.js START */
.hero {
  height: 200px;
}
.dashboard-content {
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
/* Dashboard.js END */

/* FormPage.js START */
.form-page {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.form-card {
  background-color: #ecf0f1
}
/* FormPage.js END */

.no-style-list {
  list-style: none;
}

.no-style-list > a > li {
  margin-bottom: 30px;
}